<?xml version="1.0"?>
<configuration>  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoeYanPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoeYanPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MoeYanPOS.Properties.Settings.MoeYanConStr" connectionString="Data Source=ONECLICK\moeyanpos;Initial Catalog=microfinance;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
          </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
        <MoeYanPOS.Properties.Settings>
              <setting name="A4Printer" serializeAs="String">
                    <value>Conica</value>
              </setting>
        </MoeYanPOS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MoeYanPOS.Properties.Settings>
            <setting name="SlipPrinterName" serializeAs="String">
                <value>Epson</value>
            </setting>
        </MoeYanPOS.Properties.Settings>
    </applicationSettings>
</configuration>
